@use "../common/extend";

.banner{
    @extend %reset-pad-mar;
    margin-top: 8px;
    position: relative;

    img{
        max-height: 300px;
        width: 100%;
        height: 300px;
    }
}

.banner-heading{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 200%;
    height: 300px;
    @extend %flex-center;
    align-items: center;
}
