@use "../common/variables" as var;
@use "../common/extend";
@use "../common/fonts" as fnt;
.fetch {
    @extend %flex-center;
    flex-direction: column;
    border: 10px solid var.$bg-color-nth;
    border-radius: 20px;
    background-color: var.$bg-color-nth;
    max-width: 550px; 
    max-height: 600px; 
    margin: 0 auto; 
    div img {
        $size: 500px;
        height: $size;
        width: $size;
        margin: 24px 0 8px 0
    }
    button {
        background-color: var.$head-bg-color;
        font-size: fnt.$size-n;
        border: none;
        height: 30px;
        width: 91%;
        cursor: pointer;
        transition: background-color 0.3s; 
        margin: 4px 0 6px 0;
        &:hover { 
            background-color: white;
        }
    
        &:active {
            background-color: var.$head-bg-border;
        }
    }

}