@use "../common/fonts" as fnt;
@use "../common/variables" as var;
@use "../common/extend";


#header {
    background-color: var.$head-bg-color;
    border-bottom-width: 8px;
    border-bottom-color: var.$head-bg-border;
    border-bottom-style: solid;
    position:fixed;

    font-family: fnt.$second;
    font-size: fnt.$size-b;
    transition: top 0.3s;
    @extend %reset-pad-mar;
    top: 0;
    z-index: 3;

    ul { 
        margin: inherit;
        padding: inherit;
    }

    li {
        display: inline-block; 
    }

    a {
        transition: 0.3s;
    }
    a:link {
        color:#ffffff;
    }
    a:visited {
        color:#ffffff;
    }
    a:hover {
        color:#000000; 
    }
    
}

button.header-button  {
    background-color: var.$head-bg-color;
    color: var.$txt-color;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family:inherit;
    font-size: fnt.$size-n;
    transition: 0.5s;
}
button.header-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

button.header-name {
    font-size: 30px;
    font-weight: bold;
    margin: inherit;
    padding: 7px 10px 7px 10px;
}
button.header-name:hover {
    background-color: var.$head-bg-color;
}

button.header-aside {
    padding: 11px 10px 3px 10px;
}

.header-aside img {
    height: 30px;
}

li.header-left {
    float: left;
}
li.header-right {
    float: right;    
}

@media screen and (max-width: 440px) {
    button.header-name {
      display: none;
    }
  }