@use "../common/extend";

.ref {
    @extend %flex-center;
    flex-wrap: wrap;
    flex-direction: row;
    
    .ref-item {
        @extend %flex-center;
        flex-direction: column;
        margin: 0 5%;
        max-width: 200px; 
        height: 100px;
        padding: 5px 20px 7px 20px;
        @extend %hover
    }
    p {
        font-weight: bold;
    }
}
