%reset-pad-mar{
    margin: 0;
    padding: 0;
};
%to-zero{
    top:0;
    left:0;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%hover{
    border-radius: 10px;
    &:hover {
        transition: 0.3s; 
        background-color: #6f2232;
    }
}