$bg-color: #1a1a1d;
$bg-color-nth: #1f1f22;
$txt-color: #ffffff;
$link-color: #e40649;

$head-bg-color: #c3073f;
$head-bg-border: #6f2232;

$foot-bg-color: #3D3D3D;
$foot-bg-border: #2E2E2E;
$foot-text: #8a8a8a;


$font-main: Arial, Verdana, sans-serif;
$font-second: Georgia, serif;
$font-size-n: 16px;
$font-size-b: 115%;
$font-size-bb: 130%;
$font-size-bbb: 145%;
$font-size-bbbb: 160%;