$bg-color: #1a1a1d;
$bg-color-nth: #28282c;
$txt-color: #ffffff;
$link-color: #e40649;

$head-bg-color: #c3073f;
$head-bg-border: #6f2232;

$foot-bg-color: #3D3D3D;
$foot-bg-border: #2E2E2E;
$foot-text: #8a8a8a;