#header {
    background-color: #c3073f;
    border-bottom-width: 8px;
    border-bottom-color: #6f2232;
    border-bottom-style: solid;
    position:fixed;

    font-size: 115%;
    font-family: Georgia, serif;
    transition: top 0.3s ease;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 1;
}

#header ul { 
    margin: inherit;
    padding: inherit;
}
#header li {
    display: inline-block; 
}

#header a {
    transition: 0.3s;
}
#header a:link {
    color:#ffffff;
}
#header a:visited {
    color:#ffffff;
}
#header a:hover {
    color:#000000; 
}

button.header-button  {
    background-color: #c3073f;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family:inherit;
    font-size: 16px;
    transition: 0.5s;
}
button.header-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}
button.header-name:hover {
    background-color: #c3073f;
}

button.header-name {
    font-size: 30px;
    font-weight: bold;
    margin: inherit;
    padding: 7px 10px 7px 10px;
}

button.header-aside {
    padding: 11px 10px 3px 10px;
}

.header-aside img {
    height: 30px;
}

li.header-left {
    float: left;
}
li.header-right {
    float: right;    
}

@media screen and (max-width: 382px) {
    button.header-name {
      display: none;
    }
  }