body {
    background-color: #1a1a1d;
    color: #ffffff;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: #c3073f;
    box-sizing: border-box;
    border-bottom-width: 8px;
    border-bottom-color: #6f2232;
    border-bottom-style: solid;    
}

.header h1 {
    margin: -10px;
    text-align: left;
    font-size: 250%;
}

.header h2 {
    margin: -10px;
    text-align: left;
    padding-top: 10px;
    font-size: 100%;
    font-style: italic;
}

/*


th, td {
    text-align: left;
    padding: 8px;
}
*/
.imgList {
    box-sizing: border-box;
    margin: 12px;
    
}

.imgList table {
    border-collapse:collapse;
    width: 100%;
}

.imgList th, td {
    text-align: center;
    padding: 4px;
}

.imgList td:hover {
    background-color: #6f2232;
}

.tagTable {
    text-align: justify;
    margin: 12px;
}

.tagTable tr:nth-child(even) {
    background-color: #2b2b31;
}

.tagTable th, td {
    padding: 8px;
}

.tagTable th {
    background-color: #6f2232;
}

.tagTable td:hover {
    color:#e40649;
    font-weight: bold;
}

.tagFirst {
    width: 100px;
    text-align: center;
}

.tagSecond {
    width: 94%;
    text-align: left;
}

h1 {text-align: center;}
h2 {text-align: center;}

h3 {
    padding-top: 14px;
    border-top-width: 8px;
    border-top-color: #4e4e50;
    border-top-style: solid;
}

a:link {
    color:#e40649;
}
a:visited {
    color:#c77070;
}
a:hover {
    color:#ffffff;
}